---
- name: install git, curl and vim on all nodes
  hosts: all
  become: yes

  tasks:
    - name: install required packages
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - git
        - curl
        - vim
